# Hidden Files and Backup files #
#################################
.*
*~

# Exception to .gitignore #
###########################
#!.gitignore


# More Stuffs #
##############
dbconfig.array
.directory
*.bak
*.kdev4
.kdev4
*.log
*.orig
data/imgcache/*
