*{
	margin: 0;
	padding: 0;
}

input:focus{
	outline: none;
}

body{
	background-color: white;
	font-size: 11pt;
	font-family: sans-serif;
	line-height: 120%;
}

p{
	display: block;
	margin-bottom: 6pt;
	margin-top: 4pt;
}

div{
	display: block;
}

li{
	margin-left: .5em;
}

ul{
	display: block;
	list-style-type: disc;
	margin-left: 1em;
}

ol{
	display: block;
	list-style-type: decimal;
	margin-left: 1em;
}

dl{
	display: inline;
}

dt{
	display: inline;
	margin-left: 1em;
}

a{
	color: navy;
	text-decoration: none;
}

a:hover{
	color: blue;
}

a:active{
	color: red;
}

a:visited{
	color: maroon;
}

a:visited:hover{
	color: red;
}

b{
	font-weight: bold;
}

i{
	font-style: oblique;
}

u{
	text-decoration: underline;
}

tt{
	font-family: monospace;
	font-weight: bold;
}

strong{
	font-weight: bold;
}

em{
	font-style: oblique;
}

h1{
	font-size: 200%;
	font-weight: bold;
	font-style: normal;
	line-height: 120%;
}

h2{
	font-size: 140%;
	font-weight: bold;
	font-style: normal;
	line-height: 120%;
}

h3{
	font-size: 175%;
	font-weight: normal;
	font-style: normal;
	line-height: 120%;
}

h4{
	font-size: 160%;
	font-weight: normal;
	font-style: normal;
	line-height: 120%;
}

h5{
	font-size: 145%;
	font-weight: normal;
	font-style: normal;
	line-height: 120%;
}

h6{
	font-size: 130%;
	font-weight: normal;
	font-style: normal;
	line-height: 120%;
}

h7{
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	line-height: 120%;
}

.ff{
	float: none;
	clear: both;
	height: 0;
	overflow: hidden;
}