.header{
	background-color: black;
	padding: 20px;
}

.rightbanner{
	position: absolute;
	top: 180px;
	right: 0;
}

.container{
	margin-right: 370px;
	margin-left: 40px;
	margin-top: 20px;
}

.container fieldset{
	background-color: white;
	border: 20px solid #777;
	padding: 20px;
	font-size: 120%;
	line-height: 140%;
}

.container fieldset legend{
	display: inline;
	float: right;
	margin-top: -10px;
	font-size: 160%;
	color: rgba(0, 0, 0, .3);
}

.container fieldset label{
	display: inline-block;
	width: 33%;
	text-align: right;
	margin-bottom: 12px;
	margin-right: 8px;
}

.container fieldset input{
	width: 60%;
	border: 1px inset #777;
	padding-left: 5px;
	font-size: 100%;
	background-color: #ddd;
}

.container fieldset input:focus{
	background-color: white;
	border: 1px solid #005;
}

.container fieldset input:hover{
	background-color: white;
	cursor: pointer;
}

.footer{
	float: none;
	clear: both;
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
	font-size: 90%;
	text-align:center;
}