@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

*{
	margin: 0;
	padding: 0;
	font-size: 11pt;
	font-family: 'Open Sans',sans-serif;
}

body{
	margin: 0;
	padding: 0;
	background-color: #ddd;
	background-image: url('../gfx/left_col_tall_bg.png');
	background-repeat: repeat-x;
	overflow-y: scroll;
}

a{
	color: #228B22;
}

a:hover, a:active{
	color: #228B22;
	text-decoration: underline;
}

a:visited, a:visited:hover{
	color: #444;
}

.header{
	display: block;
	border-bottom: 1px solid white;
}

.headertext{
	position: absolute;
	right: 18px;
	top: 12px;
	padding: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-radius: 5pt;
	border: 1px outset #5eda5e;
	font-size: 8pt;
	font-weight: bold;
	background-position: 0px -300px;
	background-image: url('../gfx/header_nav_gradient.png');
	text-align: center;
}

.top{
	display: block;
	color: white;
	font-size: 140%;
	background-color: #27a027;
	background-image: url('../gfx/header_gradient.png');
	padding: .2em;
	padding-top: .4em;
}

#dropdown{
	display: block;
	background-color: #259925;
	background-image: url('../gfx/header_nav_gradient.png');
	color: white;
	border: none;
	line-height: 1;
	position: relative;
	z-index: 1;
}

#dropdown a{
	display: block;
	min-height: 1.2em;
	color: white;
	text-shadow: 1px 1px 5px black;
	background-image: url('../gfx/header_nav_gradient.png');
	text-decoration: none;
	font-size: 115%;
	padding: 2pt;
	padding-left: 9pt;
	padding-right: 9pt;
	padding-top: 4pt;
}

#dropdown a:hover{
	color: white;
	background-image: url('../gfx/header_gradient.png');
}

#dropdown ul{
	list-style-type: none;
	float: left;
	margin-left: 0;
	border-right: 1px solid #70de46;
	border-bottom: 1px solid transparent;
	border-top: 1pt solid #30ca30;
}

#dropdown ul li{
	float: left;
	padding: 0;
	cursor: pointer;
	border-right: 1pt solid #249924;
	border-left: 1px solid #70de46;
	margin-left: 0;
}
#dropdown ul li ul li{
	display: block;
	float: none;
	border: 1pt solid #249924;
	margin-top: -1pt;
	border-top: none;
	margin-left: 0;
}

#dropdown li ul{
	position: absolute;
	background-color: none;
	height: 0;
	overflow: hidden;
	min-height: 0;
	margin-left: 0;
	margin-top: 0;
	border: none;
	box-shadow: 1pt 3pt 5pt rgba(0,0,0,0.3);
}

#dropdown li ul ul{
	height: 0;
	overflow: hidden;
	background-color: none;
	margin-left: 0;
	border: none;
}

#dropdown li ul a{
	background-color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	background-image: none;
	border-top: 1px solid #249924;
	color: #249924;
}
#dropdown li ul a:hover{
	background-color: #238d23;
	background-image: url('../gfx/header_gradient.png');
	border-top: 1px solid #249924;
	color: white;
}

#dropdown li:hover ul {
	height: auto;
	overflow: visible;
	border-top: 1pt solid #249924;
}

.leftcol{
	margin: 0;
	padding: 0;
	width: 79%;
	float: left;
	background-color: #ddd;
	border-right: 1pt solid white;
	border-bottom: 1pt solid white;
}


.leftcol form, .leftcol .form{
	display: block;
	margin-left: -1px;
	margin-right: -1px;
	padding: 10pt 1em 5pt 1em;
	border: 1px solid #444;
	border-top: none;
}

.leftcol .form form{
	display: block;
	margin: auto;
	border: none;
}

.leftcol fieldset{
	border: 0;
	margin: 0;
	padding: 0;
	width: 82%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.leftcol legend{
	margin: 0;
	padding: 2pt;
	padding-left: 0;
	padding-right: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 90%;
	background-color: #27a027;
	background-image: url('../gfx/header_gradient.png');
	border: 1px solid #444;
	border-top-right-radius: 5pt;
	border-top-left-radius: 5pt;
}

.leftcol label{
	display: inline-block;
	float: left;
	width: 35%;
	text-align: right;
	padding-right: 1%;
}

.leftcol input{
	display: inline-block;
	margin: 0;
	padding: 1pt;
	padding-left: 3pt;
	width: 60%;
	margin-bottom: 6pt;
	border: 1px solid #666;
	background-color: #eee;
	border-radius: 2pt;
	color: #444;
}

.leftcol input:hover{
	background-color: white;
}

.leftcol input:focus{
	border: 1px solid #249924;
	background-color: white;
	outline: none;
	color: black;
}

.leftcol select{
	display: inline-block;
	margin: 0;
	margin-left: -3pt;
	padding: 1pt;
	width: 60.5%;
	margin-bottom: 6pt;
	border: 1px solid #666;
	background-color: #eee;
	border-radius: 2pt;
	color: #444;
}

.leftcol select:hover{
	background-color: white;
}

.leftcol select:focus{
	border: 1px solid #249924;
	background-color: white;
	outline: none;
	color: black;
}

.leftcol textarea{
	display: inline-block;
	float: right;
	margin-right: 3%;
	width: 60%;
	margin-bottom: 6pt;
	border: 1px solid #666;
	background-color: #eee;
}

.leftcol textarea:hover{
	background-color: white;
}

.leftcol textarea:focus{
	border: 1px solid #249924;
	background-color: white;
	outline: none;
}

.leftcol fieldset hr{
	border: none;
	background-color: silver;
	height: 1px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 6pt;
}

.leftcol h3{
	color: #249924;
	font-size: 120%;
	margin-bottom: .4em;
}

.leftcol hr{
	height: 1px;
	border: none;
	background-color: #249924;
}

.leftcol input[type="submit"], .leftcol input[type="reset"] {
	font-weight: bold;
	background-color: #ccc;
	color: black;
	cursor: pointer;
	font-size: 90%;
	width: 30%;
	margin-right: 15%;
	margin-left: 15%;
	float: right;
}

.leftcol input[type="submit"]:hover, .leftcol input[type="reset"]:hover {
	background-color: #eee;
	color: #135313;
}


.rightcol{
	margin: 0;
	padding: 0;
	width: 20%;
	float: right;
}

.rightcol h3{
	color: #249924;
	font-size: 120%;
	margin-bottom: .4em;
}

.rightcol h3 *{
	font-size: 120%;
}

.rightcol p{
	line-height: 130%;
	color: #333;
}

.rightcolinner{
	display: block;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
}

.messagebox{
	background-color: white;
	padding: 0;
	padding-left: 3pt;
	padding-right: 3pt;
	height: auto;
	overflow: hidden;
	border-left: 1pt solid #249924;
	border-right: 1pt solid #249924;
	border-bottom: 3pt solid #249924;
	border-bottom-right-radius: 3pt;
	border-bottom-left-radius: 3pt;
	-webkit-box-shadow: 0 1pt 5pt rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1pt 5pt rgba(0,0,0,0.4);
	box-shadow: 0 1pt 5pt rgba(0,0,0,0.4);
}

.messagebox .error{
	margin-top: .5em;
	padding: .4em;
	border-radius: .5em;
	text-align: center;
	background-color: #e2bbb3;
	border: 1pt solid #732121;
}
.messagebox .alert{
	margin-top: .5em;
	padding: .4em;
	border-radius: .5em;
	text-align: center;
	background-color: #f1ce64;
	border: 1pt solid #785426;
}
.messagebox .notification{
	margin-top: .5em;
	padding: .4em;
	border-radius: .5em;
	text-align: center;
	background-color: #a4d386;
	border: 1pt solid #3f5a2f;
}
.messagebox .debug{
	margin-top: .5em;
	padding: .4em;
	border-radius: .5em;
	text-align: center;
	background-color: #ddd;
	border: 1pt solid #666;
}

.messageboxtab{
	float: right;
	display: block;
	padding: 2pt;
	padding-left: 4pt;
	padding-right: 4pt;
	margin-right: 4pt;
	color: #eee;
	background-color: #249924;
	border-bottom-right-radius: 3pt;
	border-bottom-left-radius: 3pt;
	border-bottom: 2pt solid #096409;
	cursor: pointer;
	-webkit-box-shadow: 0 1pt 7pt rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1pt 7pt rgba(0,0,0,0.5);
	box-shadow: 0 1pt 7pt rgba(0,0,0,0.5);
}

.messageboxtab:hover{
	background-color: #148014;
}

.pluginbox{
	border: 1px solid #555;
	border-radius: 1em;
	background-color: white;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.pluginbox .padding{
	padding: 1.2em;
	padding-top: 0;
}

.pluginbox .breadcrumbs{
	border-top-left-radius: 1.05em;
	border-top-right-radius: 1.05em;
	margin: 0 0 1em 0;
	padding: .3em 0 .3em 1em;
	font-size: 10pt;
	border-bottom: 1px solid #555;
	background-color: #eee;
}

.pluginbox .breadcrumbs a{
	font-size: 10pt;
	font-weight: bold;
	color: #666;
}

.pluginbox h2{
	font-size: 140%;
	color: gray;
	line-height: 2em;
}

.home ul{
	list-style-type: none;
	line-height: 2em;
	margin-left: 3em;
}
.home ul li{
	display: block;
}

.footer{
	text-align: center;
	font-size: 80%;
	color: #555;
	padding: .5em;
}

.footer a{
	font-size: 100%;
	color: #444;
}

.floatfix{
	float: none;
	clear: both;
	height: 0;
	overflow: hidden;
}

.itemhide{
	display: none;
}

.itemshowblock{
	display: block;
}